/*td.details-control {*/
    /*background: url('/resources/images/chevron-circle-right.png') no-repeat center center !important;*/
    /*cursor: pointer;*/
/*}*/
/*#farmTable tbody tr:hover{*/
/*background-color: lightskyblue;*/
/*}*/


.table {
    border: 1px solid #C5C5C5;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #C5C5C5;
}

table.jambo_table tbody tr.selected {
    background: rgba(255, 255, 204, 1)
}

/*table.jambo_table tbody tr.selected td {*/
/*border-top: 1px solid rgba(255, 255, 204, 0.4);*/
/*border-bottom: 1px solid rgba(255, 255, 204, 0.4)*/
/*}*/
/*tr.shown td.details-control {*/
    /*background: url('/resources/images/chevron-circle-down.png') no-repeat center center !important;*/
/*}*/
/*.error {*/
/*padding: 15px;*/
/*margin-bottom: 20px;*/
/*border: 1px solid transparent;*/
/*border-radius: 4px;*/
/*color: #a94442;*/
/*background-color: #f2dede;*/
/*border-color: #ebccd1;*/
/*}*/

/*.confirm-class {*/
/*border-radius: 3px;*/
/*margin-bottom: 5px;*/
/*margin-right: 5px;*/
/*padding: 1px 5px;*/
/*font-size: 12px;*/
/*line-height: 1.5;*/
/*color: #fff;*/
/*background-color: #5bc0de;*/
/*border-color: #46b8da;*/
/*display: inline-block;*/
/*font-weight: 400;*/
/*text-align: center;*/
/*white-space: nowrap;*/
/*vertical-align: middle;*/
/*touch-action: manipulation;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*background-image: none;*/
/*border: 1px solid transparent;*/
/*border-radius: 4px;*/
/*}*/
div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.cancel-class{
    color: red;
}
.input-discount{
    width: 50px;
}
.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}
table.dataTable.display tbody tr.child {
    background: white;
}
table.dataTable.display tbody tr table tr:hover {
    background: none;
}
